  /* Leaflet Map */
  #map {
    height: 100%;
    margin-top: 1rem;
}

/* Modal styles */
#threeDMapContainer {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

#threeDMapContainer .modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 10px;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    position: relative;
}

#threeDMapContainer iframe {
    width: 100%;
    height: 500px;
    border: none;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 24px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.close-btn:hover {
    color: black;
}

#show3DMapBtn {
    margin-top: 1rem;
}